name: Demo pipeline
on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
  schedule:
    - cron: '*/1 * * * *'  # Runs every Sunday at midnight
jobs:
    setup_job:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: create files
              run: |
                  echo "This is a demo file." > demo_file.txt
            - name: display files
              run: cat README.md
        
              

            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: '3.9'

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt

            - name: Run demo script
              run: |
                  python demo_script.py

    build_job:
        needs: setup_job
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: '3.9'

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt

            - name: Build project
              run: |
                  python build_script.py